beautifulsoup4==4.5.1
diff-match-patch==20121119
Django==1.10.4
django-import-export==0.5.1
django-pipeline==1.6.10
gunicorn==19.6.0
numpy==1.11.3
PyGithub==1.29
PyYAML==3.12
requests==2.12.4
scikit-learn==0.18.1
scipy==0.18.1
tablib==0.11.3
