beautifulsoup4==4.5.1
diff-match-patch==20121119
Django==1.10.4
django-import-export==0.5.1
django-pipeline==1.6.10
numpy==1.11.3
PyGithub==1.29
PyYAML==3.12
requests==2.12.4
scikit-learn==0.18.1
scipy==0.18.1
-e git+https://github.com/kennethreitz/tablib.git@3d44bdec40f2572c985f763450aefce37b60380a#egg=tablib
