{% extends 'classification/base.html' %}

{% load filters %}

{% block title %}Repo Analysis{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Input</div>
            <div class="panel-body">
                <form action="{% url 'classification:analysis' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label">Select File</label>
                        <input type="file" class="file" name="file" data-show-preview="false"
                               data-show-upload="false">
                    </div>
                    <div class="btn-group pull-right" role="group">
                        <button type="submit" name="subject" value="description" class="btn btn-default">Analyse
                            descriptions
                        </button>
                        <button type="submit" name="subject" value="filename" class="btn btn-default">Analyse
                            filenames
                        </button>
                        <button type="submit" name="subject" value="language" class="btn btn-default">Analyse
                            languages
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% if output %}
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Output</div>
            <div class="panel-body">
                <p>
                    <a href="{{ output | data_uri:'text/csv' }}" target="_blank" class="btn btn-primary"
                       download="classified-repositories.csv">Download Results</a>
                </p>
                <pre style="margin-bottom: 0">{{ output | escape }}</pre>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
