{% load pipeline %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Repository Classifier</title>
    {% stylesheet 'bootstrap' %}
    {% stylesheet 'static' %}
</head>
<body style="padding-top: 50px">
{% include 'classification/navbar.html' %}
<div class="container">
    <h1>{% block title %}default title{% endblock %}</h1>
    {% block content %}default content{% endblock %}
</div>
{% javascript 'd3' %}
{% javascript 'd3-tip' %}
{% javascript 'bootstrap' %}
{% javascript 'static' %}
<link href="https://fonts.googleapis.com/css?family=Raleway:500" rel="stylesheet">
</body>
</html>
