{% extends 'classification/base.html' %}

{% load filters %}

{% block title %}Classifier{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Train or classify from a file</div>
            <div class="panel-body">
                <form action="{% url 'classification:index' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label">Select File</label>
                        <input type="file" class="file" name="file" data-show-preview="false"
                               data-show-upload="false" required>
                    </div>
                    <div class="btn-group pull-right" role="group">
                        <button type="submit" class="btn btn-default" name="mode" value="train">Train</button>
                        <button type="submit" class="btn btn-default" name="mode" value="classify">Classify</button>
                        <button type="submit" class="btn btn-default" name="mode" value="validate">Validate</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Classify a single repo</div>
            <div class="panel-body">
                <form action="{% url 'classification:index' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label">Repository URL</label>
                        <input type="text" class="form-control" name="repo-url" value="" required>
                    </div>
                    <div class="btn-group pull-right" role="group">
                        <button type="submit" class="btn btn-default" name="mode" value="classify-single-repo">
                            Classify
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% if output %}
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Output</div>
            <div class="panel-body">
                <p>
                    <a href="{{ output | data_uri:'text/csv' }}" target="_blank" class="btn btn-primary"
                       download="classified-repositories.csv">Download Classified Repositories</a>
                </p>
                {% if single_repository %}
                <p>Repository: <a href="{{ single_repository }}">{{ single_repository }}</a></p>
                {% endif %}
                <pre style="margin-bottom: 0">{{ output | escape }}</pre>
            </div>
        </div>
    </div>
    {% endif %}
    {% if validation_output %}
    <pre style="margin-bottom: 0">{{ validation_output.string_output | escape }}</pre>
    <div class="row">
        {% for item in validation_output.items %}
        <div class="col-8 col-sm-4">
            <div class="card {% if item.repo.category != item.predicted %} false-predict {% else %} true-predict {% endif %}"
                 style="width: 35rem;">
                <div class="card-content">
                    <h5 class="card-title"><a href="https://github.com/{{item.repo.identifier}}">{{item.repo.identifier}}</a>
                    </h5>
                    <span>Label: {{item.repo.category}} | Predict: {{item.predicted}}</span>
                    <svg class="validation-svg"
                         data-prob-data="{{item.prob.0.1}}"
                         data-prob-dev="{{item.prob.1.1}}"
                         data-prob-docs="{{item.prob.2.1}}"
                         data-prob-edu="{{item.prob.3.1}}"
                         data-prob-hw="{{item.prob.4.1}}"
                         data-prob-other="{{item.prob.5.1}}"
                         data-prob-web="{{item.prob.6.1}}">
                    </svg>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Output</div>
            <div class="panel-body">
                <p>
                    <a href="{{ output | data_uri:'text/csv' }}" target="_blank" class="btn btn-primary"
                       download="classified-repositories.csv">Download Classified Repositories</a>
                </p>
                {% if single_repository %}
                <p>Repository: <a href="{{ single_repository }}">{{ single_repository }}</a></p>
                {% endif %}
                <pre style="margin-bottom: 0">{{ output | escape }}</pre>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
