<!DOCTYPE html>
<meta charset="utf-8">
{% extends 'classification/base.html' %}

{% load filters %}

{% block title %}{% endblock %}
{% block content %}
<style>
    svg {
        font: 10px sans-serif;
    }

    .d3-tip {
        font: 10px sans-serif;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .dot {
        opacity: 0.4;
    }

</style>
<div style="text-align: center;">
    <label>X:</label>
    <select id="x_features">
    </select>
    <label>Y:</label>
    <select id="y_features">
    </select>
</div>
<svg id="vis-features"></svg>
<div style="text-align: center;">
    <form class="form-group">
        <label>X Max:</label>
        <input type="number" id="x_max"></input>
        <label>Y Max:</label>
        <input type="number" id="y_max"></input>
    </form>
</div>
{% endblock %}
